.navigationWrapper {
  background-color: #2c2f3f;
}
.brandName {
  color: #bda686;
  font-weight: bold;
}
.navigationWrapper {
  background-color: #2c2f3f !important;
  color: #bda686;
}
.brandName {
  color: #bda686;
  font-weight: bold !important;
}
.loginNav {
  background-color: #bda686;
  border-radius: 5px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginNav span:hover {
  text-decoration: underline !important;
}
